<!DOCTYPE html>
<html>
<head>
  <title>Student Information Form</title>
</head>
<body>
  <!-- This is the form for the user to input their data -->
  <!-- When the form is submitted, it sends a POST request to the server at the specified action URL ("/") -->
  <form action="/students" method="POST">
    <label for="fname">First Name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="mname">Middle Name:</label><br>
    <input type="text" id="mname" name="mname"><br>
    <label for="lname">Last Name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address"><br>
    <label for="phone">Phone:</label><br>
    <input type="tel" id="phone" name="phone"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br>
    <input type="submit" value="Submit">
  </form>
  
  <!-- This is where we'll display the submitted student data -->
  <!-- EJS allows us to use JavaScript in our HTML. Here, we loop over the 'students' array and create a new list item for each student -->
  <ul>
    <% students.forEach(function(student) { %>
      <li>
        <h2><%= student.fname %> <%= student.mname %> <%= student.lname %></h2>
        <p>Address: <%= student.address %></p>
        <p>Phone: <%= student.phone %></p>
        <p>Email: <%= student.email %></p>
        <p>Description: <%= student.description %></p>
      </li>
    <% }); %>
  </ul>
  
  <!-- This is a link that allows the user to add more student data -->
  <!-- When clicked, it sends a GET request to the server at the specified URL ("/") -->
  <a href="/students">Add New Student</a>
</body>
</html>
